<div class="wrapper">
    <div><h2>{{msg.welcome_text}}</h2></div>
    <div><h4>{{msg.subscribe_text}}<span class="boldText">{{msg.subscribe}}</span></h4></div>
    <div class="clearfix">
        <form [formGroup]="subscribeForm" name="subscribeForm">
            <input type="text" placeholder="Email" formControlName="email"/>
            <button type="button" (click)="onSubscribe()">Subscribe</button>
        </form>
    </div>
    <app-timer></app-timer>
    <div class="alignText">{{msg.about}}</div>
</div>