<div id="clockdiv">
    <h5>{{msg.time_left}}</h5>
    <div>
      <span class="days">{{_days}}</span>
      <div class="smalltext">{{msg.days}}</div>
    </div>
    <div>
      <span class="hours">{{_hours}}</span>
      <div class="smalltext">{{msg.hours}}</div>
    </div>
    <div>
      <span class="minutes">{{_minutes}}</span>
      <div class="smalltext">{{msg.minutes}}</div>
    </div>
    <div>
      <span class="seconds">{{_seconds}}</span>
      <div class="smalltext">{{msg.seconds}}</div>
    </div>
</div>