div {
    padding-bottom: 15px;
}

.blue {
    color: #3F76B3;
}

.red {
    color: red;
}

.fontStyle {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.largeFont {
    font-size: larger;
}

input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    width: 30%;
}

button {
    padding: 10px;
    background: #3F76B3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.pt20 {
    padding-top: 20px;
}

#particles-js,
#over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.gold {
    color: goldenrod;
}

.black{
    color:black;
}

img {
    width: 465px;
}

.btnWidth {
    width: 75%
}

.modalfooter {
    padding: 2% 40% 2% 40%;
}